/* font-family: 'Merriweather', serif;
font-family: 'Raleway', sans-serif; */

body {font-family: montseratt, sans-serif;
	font-size: 16px;}
*, *:before,*:after {box-sizing: border-box; margin: 0; padding: 0;}
ul, li {display: block;
		padding: 0;
		margin: 0;}

.section__padding {padding-bottom: 125px;}

/* Section headdings*/
.section__headding {text-align: center;
					text-transform: uppercase;
					padding: 125px 0px;}

.section__headding h2 {font-weight:bold;
						font-size:38px;}
.section__headding p {font-size:18px;
						font-family: 'Merriweather', serif;
						color:#999999;}
div .section__headding__padding {padding-bottom: 150px;}

@media screen and (min-width: 1200px){
.container {max-width:1170px}
}
/*Header*/

.header__section {background: url(../assets/images/Shopno.jpg) no-repeat center;
				background-size: cover;
				height: 805px;
				padding:65px 0px 195px 0px;}

.menue__icon__block {text-align: right; position: relative;}

.menue__icon {position: absolute;
				top: 30%;
				right: 15px;
				cursor: pointer;
				transition-property:transform;
				transition-duration: 1s;}

.menue__icon:hover {transform: rotate(-1080deg);}

.header__title {text-align: center;
				padding:195px 0px 140px 0px;
				text-transform: uppercase;
				font-size:33px;
				color: #666666;}

.header__title .header__title__text {font-weight: 800;
						letter-spacing: 7px;
						text-shadow: 5px 8px 7px #ccc;
						line-height: 58px;}

.header__title__text .marked__text {background: #b2f2ee;
									padding:1px 9px;
									text-shadow: 5px 8px 7px #99cccc;}

.header__button {border: solid 2px #777879;
				width:232px; height: 53px;
				color: #777879;
				text-transform: uppercase;
				font-size:18px;
				display: block;
				margin: auto;
				background:transparent;
				cursor: pointer;
				letter-spacing: 4px;
				transition-property:transform width height background border-radius;
				transition-duration: 1s;}

.header__button:hover {transform: rotate(360deg);
						width: 150px;
						height: 150px;
						background: #b2f2ee;
						border-radius: 50%;
						transform-origin: center;}

/* About */
.about__section {background: #f8fafa;}

.about__information__block {width: 83%; margin: auto;}

.about__upper__article h3, .about__lower__article h4 {font-family: 'Merriweather', serif;
							font-size:20px;
							font-weight: bold;
							text-transform: uppercase;
							color:#646565;
							line-height: 28px;
							margin-bottom: 22px;}
.about__lower__article h4 {font-size:17px;
							margin-bottom: 15px;}

.about__upper__article , .about__lower__article p {margin-bottom: 20px;
						font-family: 'Raleway', sans-serif;
						font-size:16px;
						color: #999999;
						line-height: 28px;}


.slider__main__block {width: 89%; position: relative;}

.slider__background {width: 100%;
					max-width: 480px;
					height: 411px;
					background:#edeef0;
					position: absolute;
					top: 7%;
					left: 0%;
					z-index: -1;}

.slider__image__block {	width:80%;
						box-shadow: 3px -5px 18px #ebeced;
						overflow: hidden;
						margin: auto;}
.slider__image {object-fit: cover;
				width: 100%;}

.slider__point__block {padding-top: 40px;
						justify-content: center;}

.slider__point {height: 10px;
				width: 10px;
				background: #999999;
				border-radius: 3px;
				margin: 0 4px;
				cursor: pointer;}

.slider__point:hover {background: #b2f2ee;}





.works__image__block {overflow: hidden;}

.works__image {object-fit: cover;}

.works__image__padding {margin-bottom: 30px;}